body{
    margin: 0;
    padding: 0;
}

a {
    color: black;
}

.navbar {
    background: #eee;
    box-shadow: 1px 1px 15px 3px #d3d3d3;
    margin-bottom: 30px;
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-nav {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.navbar-nav li {
    display: inline-block;
    padding: 15px 15px;
}

.navbar-nav li a{
    text-decoration: unset;
    display: inline-block;
    font-size: 18px;
}

.logo a {
    text-decoration: unset;
    font-size: 20px;
    font-weight: bold;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.not-found {
    text-align: center;
}

.not-found p {
    font-size: 4rem;
    margin-bottom: 0px;
}

.not-found h1 {
    font-size: 2.5rem;
    font-weight: 400;
    margin-top: 10px;
}

.products {
    display: flex;
    flex-wrap: wrap;
}

.products .product {
    width: 24%;
    text-align: center;
    border: 1px solid #eee;
    border-radius: 10px;
    margin: 4px;
    padding: 10px 0px;
}

.products .product img {
    width: 100%;
    height: 350px;
    object-fit: contain;
}

.products .product button {
    margin-top: 15px;
    border: unset;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}